body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

nav {
    background-color: transparent; /* Semi-transparent black */
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:end;
    margin-right: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

#main {
    background: url('../assets/istockphoto-1417882544-612x612.jpg') no-repeat center center/cover;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: #f8b400;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #e09e00;
}

#actions {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.action-card {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.pet-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pet-gallery .pet-card {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

#statistics {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.stats {
    display: flex;
    justify-content: center;
}

.stat-item {
    margin: 0 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.custom-shape-divider-bottom-1733203832 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1733203832 svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 178px;
}

.custom-shape-divider-bottom-1733203832 .shape-fill {
    fill: #FFFFFF;
}